h1{
    text-align: center; color: white; font-size: 280%; 
}

#cabeçalho{
    background-color: #333;
}

img{
    width: 700px; height: 400px; display: block; margin: 0 auto; 
}

body{
    background-color: #fafeff;
    background-image: url(corpo\ humano.jpg);
}

ul{
    color: white; font-size: 250%; padding: 30px;
}